<img style="float: left;;" src='Figures/alinco.png' /></a>

# <center> <font color= #000047> Manipulación de Datos con la librería Pandas


<img style="float: right; margin: 0px 0px 15px 15px;" src="https://numfocus.org/wp-content/uploads/2016/07/pandas-logo-300.png" width="400px" height="400px" />

> Ya vamos agregando más librerías a nuestro arsenal. En estas clases hemos revisado aspectos muy básicos de estas librerías ([NumPy](https://www.numpy.org/) y [matplotlib](https://matplotlib.org/)). En estos enlaces pueden encontrar la documentación oficial para revisar qué más pueden hacer con estas librerías. También el `help` puede ser un buen punto de partida para conocer qué más cosas pueden realizar.


Referencias:
- https://pandas.pydata.org/
- https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f
___

In [1]:
# Importar pandas
import numpy as np
import pandas as pd

Los **pd.DataFrames** son los objetos por excelencia de pandas para manipular datos. Son eficientes y rápidos. Son la estructura de datos donde pandas carga los diferentes formatos de datos: cuando nuestros datos están limpios y estructurados, cada fila representa una observación, y cada columna una variable o característica. Tanto las filas como las columnas pueden tener etiquetas.

En esta clase vamos a trabajar con datos pertenecientes a ejemplos de la librería featuretools [en esta página](https://github.com/FeatureLabs/featuretools). Sin embargo para entender cómo es que se cargan estos datos, estos están disponibles en la carpeta data en formato CSV.

En esta y la siguiente clase, además de importar datos, aprenderemos a:
- seleccionar subconjuntos de datos;
- filtrar variables por categorías;
- relacionar tablas con datos complementarios;
- entre otros.

Comenzamos:

___
# 1. Importando datos

En la carpeta "data" tenemos los archivos "customers_data.csv", "sessions_data.csv", "transactions_data.csv" y "products_data.csv", cada uno de ellos conteniendo información relevante acerca de transacciones de cierta empresa.

El primer paso para comenzar a trabajar con datos es importarlos. Lo podemos hacer con la función `pd.read_csv()`:

In [2]:
# Ayuda en la función pd.read_csv()
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0


Muy bien, concentrémonos en los datos de cliente (comenzaremos con estos datos pequeños para ilustrar las funcionalidades, luego iremos añadiendo tamaño):

In [4]:
# Importar customers_data.csv
customers = pd.read_csv('Data/customers_data.csv')

In [5]:
customers.head()

   Unnamed: 0  customer_id  zip_code            join_date date_of_birth
0           0            1     60091  2011-04-17 10:48:33    1994-07-18
1           1            2     13244  2012-04-15 23:31:04    1986-08-18
2           2            3     13244  2011-08-13 15:42:34    2003-11-21
3           3            4     60091  2011-04-08 20:08:14    2006-08-15
4           4            5     60091  2010-07-17 05:27:50    1984-07-28

In [6]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     5 non-null      int64
 1   customer_id    5 non-null      int64
 2   zip_code       5 non-null      int64
 3   join_date      5 non-null      object
 4   date_of_birth  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes

Bien, ya tenemos los datos cargados, sin embargo, se ve algo raro. 

¿Qué es esta columna "Unnamed: 0"? (abrir el CSV)

Para especificar que esta columna corresponde al índice, podemos usar el argumento `index_col`.

In [7]:
# Importar customers_data.csv, haciendo uso del argumento index_col
customers = pd.read_csv('Data/customers_data.csv', index_col=0)
customers

   customer_id  zip_code            join_date date_of_birth
0            1     60091  2011-04-17 10:48:33    1994-07-18
1            2     13244  2012-04-15 23:31:04    1986-08-18
2            3     13244  2011-08-13 15:42:34    2003-11-21
3            4     60091  2011-04-08 20:08:14    2006-08-15
4            5     60091  2010-07-17 05:27:50    1984-07-28

In [8]:
# Tipo de lo que importamos
type(customers)

pandas.core.frame.DataFrame

Ahora nuestro DataFrame luce bien. Sin embargo, podríamos querer indizar nuestro DataFrame directamente por el id de cliente, utilizando el método `set_index()`:

In [10]:
# Usar el método set_index para indizar por el id de cliente
customers.set_index('customer_id')

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

In [11]:
customers

   customer_id  zip_code            join_date date_of_birth
0            1     60091  2011-04-17 10:48:33    1994-07-18
1            2     13244  2012-04-15 23:31:04    1986-08-18
2            3     13244  2011-08-13 15:42:34    2003-11-21
3            4     60091  2011-04-08 20:08:14    2006-08-15
4            5     60091  2010-07-17 05:27:50    1984-07-28

In [ ]:
#customers = customers.set_index('customer_id')

Podemos ver que pandas no convierte **customer_id** en el índice permanente del DataFrame, a menos que se lo especifiquemos. Para especificarlo, debemos usar el argumento `inplace`

In [12]:
# Usar el método set_index para indizar por el id de cliente, usando el argumento inplace
# customers = customers.set_index("customer_id")
customers.set_index('customer_id', inplace=True)

In [13]:
customers

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

___
# 2. Indización y selección de datos

Hay muchas formas de las cuales podemos seleccionar datos de DataFrames. Veremos, de acuerdo al artículo al final de este documento, la forma basada en corchetes ([]) y en los métodos `loc()` y `iloc()`.

Con los corchetes, podemos seleccionar ciertas filas, o bien, ciertas columnas. 

Para una selección de filas, podemos usar el indizado como en las listas: [start_index:end_index:step], recordando que el `end_index` no es inclusivo.

Por ejemplo, seleccionar los clientes en las primeras dos filas:

In [14]:
customers[:2]

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18

Ahora, seleccionar del tercer cliente en adelante:

In [15]:
customers[3:]

             zip_code            join_date date_of_birth
customer_id
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

Finalmente, seleccionar los clientes en las filas impares:

In [16]:
customers[::2]

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
3               13244  2011-08-13 15:42:34    2003-11-21
5               60091  2010-07-17 05:27:50    1984-07-28

Similarmente, para una selección de columnas, podemos usar una lista con los nombres de las columnas requeridas. Si pasamos solo una columna como un string en lugar de una lista, el resultado será un objeto **pd.Series**:

In [17]:
# Seleccionar la columna date_of_birth como Series
customers['date_of_birth']

customer_id
1    1994-07-18
2    1986-08-18
3    2003-11-21
4    2006-08-15
5    1984-07-28
Name: date_of_birth, dtype: object

In [18]:
# Tipo
type(customers['date_of_birth'])

pandas.core.series.Series

Las Series de pandas son arreglos unidimensionales que pueden ser etiquetados. En algunos casos, querremos seleccionar solo una columna pero mantener esta selección en un DataFrame. En este caso podemos pasar una lista con un solo elemento:

In [19]:
# Seleccionar la columna date_of_birth como DataFrame
customers[['date_of_birth']]

            date_of_birth
customer_id
1              1994-07-18
2              1986-08-18
3              2003-11-21
4              2006-08-15
5              1984-07-28

In [20]:
# Tipo
type(customers[['date_of_birth']])

pandas.core.frame.DataFrame

Finalmente, seleccionamos dos columnas:

In [21]:
customers

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

In [22]:
# Seleccionar las columnas date_of_birth y zip_code
customers.loc[:,['date_of_birth' , 'zip_code']]

            date_of_birth  zip_code
customer_id
1              1994-07-18     60091
2              1986-08-18     13244
3              2003-11-21     13244
4              2006-08-15     60091
5              1984-07-28     60091

In [23]:
customers[['date_of_birth', 'zip_code']]

            date_of_birth  zip_code
customer_id
1              1994-07-18     60091
2              1986-08-18     13244
3              2003-11-21     13244
4              2006-08-15     60091
5              1984-07-28     60091

In [27]:
customers.iloc[:,[2,0]]

            date_of_birth  zip_code
customer_id
1              1994-07-18     60091
2              1986-08-18     13244
3              2003-11-21     13244
4              2006-08-15     60091
5              1984-07-28     60091

In [26]:
customers.iloc[:,2]

customer_id
1    1994-07-18
2    1986-08-18
3    2003-11-21
4    2006-08-15
5    1984-07-28
Name: date_of_birth, dtype: object

Muy bien, ya vimos que los corchetes son útiles. También existen los poderosos métodos `loc` y `iloc`, que nos dan el poder de seleccionar ambos a la vez: columnas y filas.

¿En qué se diferencian?

- El método `loc` nos permite seleccionar filas y columnas de nuestros datos basados en etoquetas. Primero, se deben especificar las etiquetas de las filas, y luego las de las columnas.

- El método `lioc` nos permite hacer lo mismo pero basado en índices enteros de nuestro DataFrame (como si fueran matrices).

Como antes, si queremos seleccionar todas las filas, o columnas, simplemente escribimos `:` en el lugar adecuado.

Mejor con ejemplos:

Para un mejor entendimiento de esta parte, reetiquetaremos la numeración de clientes con una "numeración" alfabética. Es decir: 1-A, 2-B, ..., 5-E.

In [28]:
customers

             zip_code            join_date date_of_birth
customer_id
1               60091  2011-04-17 10:48:33    1994-07-18
2               13244  2012-04-15 23:31:04    1986-08-18
3               13244  2011-08-13 15:42:34    2003-11-21
4               60091  2011-04-08 20:08:14    2006-08-15
5               60091  2010-07-17 05:27:50    1984-07-28

In [29]:
# Resetear índice en el lugar
customers.reset_index(inplace=True)

In [30]:
customers

   customer_id  zip_code            join_date date_of_birth
0            1     60091  2011-04-17 10:48:33    1994-07-18
1            2     13244  2012-04-15 23:31:04    1986-08-18
2            3     13244  2011-08-13 15:42:34    2003-11-21
3            4     60091  2011-04-08 20:08:14    2006-08-15
4            5     60091  2010-07-17 05:27:50    1984-07-28

In [31]:
customers.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
customers.index = ['A', 'B', 'C', 'D', 'E']
customers

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2003-11-21
D            4     60091  2011-04-08 20:08:14    2006-08-15
E            5     60091  2010-07-17 05:27:50    1984-07-28

In [33]:
customers.columns

Index(['customer_id', 'zip_code', 'join_date', 'date_of_birth'], dtype='object')

In [34]:
for col in customers.columns:
    print(col)

customer_id
zip_code
join_date
date_of_birth

Ahora sí.

Seleccionemos el primer cliente con ambos métodos:

In [35]:
# Primer cliente con loc
customers.loc['A']

customer_id                        1
zip_code                       60091
join_date        2011-04-17 10:48:33
date_of_birth             1994-07-18
Name: A, dtype: object

In [36]:
# Primer cliente con iloc
customers.iloc[0]

customer_id                        1
zip_code                       60091
join_date        2011-04-17 10:48:33
date_of_birth             1994-07-18
Name: A, dtype: object

Nos dan series, ¿y si queremos DataFrames?

In [ ]:
# Primer cliente con loc en DataFrame

In [ ]:
# Primer cliente con iloc en DataFrame

Ahora, seleccionemos los clientes A y C con ambos métodos:

In [37]:
# Clientes A y C con loc
customers.loc[['A','C']]

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
C            3     13244  2011-08-13 15:42:34    2003-11-21

In [38]:
# Clientes A y C con iloc
customers.iloc[[0,2]]

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
C            3     13244  2011-08-13 15:42:34    2003-11-21

Ahora, de los clientes B y E, queremos su zip_code y su join_date:

In [39]:
# loc
customers.loc[['B','E'],['zip_code', 'join_date']]

   zip_code            join_date
B     13244  2012-04-15 23:31:04
E     60091  2010-07-17 05:27:50

In [40]:
# iloc
customers.iloc[[1,3],[1,2]]

   zip_code            join_date
B     13244  2012-04-15 23:31:04
D     60091  2011-04-08 20:08:14

Ahora, queremos solo zip_code y join_date, pero de todos los clientes:

In [ ]:
# loc

In [ ]:
# iloc

¿Qué tal? Ya tenemos varias formas de seleccionar e indexar ciertos datos.

Esto es, sin duda, muy útil. Por otra parte, muchas veces queremos obtener cierta información (clientes, en nuestro ejemplo) que cumplan algunos requisitos. Por ejemplo:
- que sean mayores de 18 años, o
- que su antiguedad en la plataforma sea menor a seis meses, o
- que residan en cierta zona,
- entre otros.

Para ello utilizamos los operadores de comparación (==, >, <, >=, <=, !=).

___
# 3. Filtrado de datos

Los operadores de comparación pueden ser utilizados con Series de pandas. 

Esto resulta ser súper útil para filtrar datos con ciertas condiciones específicas (esto lo veremos enseguida). 

Por ahora, veremos que al usar operadores de comparación con Series, el resultado será Series booleanas. Es decir, cada elemento de dichas series será `True` si la condición se satisface, y `Falso` de lo contrario.

Una vez tenemos la serie boolena, podemos aplicarla para la selección de filas, obteniendo un DataFrame filtrado como resultado.

**Ejemplos**

¿Cuáles clientes son mayores de 18 años?

In [41]:
customers

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2003-11-21
D            4     60091  2011-04-08 20:08:14    2006-08-15
E            5     60091  2010-07-17 05:27:50    1984-07-28

In [48]:
customers.iloc[2,-1] = '2009-11-21'

In [47]:
customers.iloc[3,-1] = '2014-08-15'

In [43]:
type(customers.iloc[0,-1])

str

In [49]:
customers['date_of_birth'] <= '2007-09-05'

A     True
B     True
C    False
D    False
E     True
Name: date_of_birth, dtype: bool

In [50]:
# Adult clients
customers[customers['date_of_birth'] <= '2007-09-05']

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
E            5     60091  2010-07-17 05:27:50    1984-07-28

¿Cuáles clientes se registraron después del primero de Junio del 2011?

In [52]:
# Recent joins
customers['join_date'] > '2011-06-01'

A    False
B     True
C     True
D    False
E    False
Name: join_date, dtype: bool

In [53]:
customers[customers['join_date'] > '2011-06-01']

   customer_id  zip_code            join_date date_of_birth
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2009-11-21

¿Cuáles clientes viven en la zona con CP 13244?

In [54]:
customers

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2009-11-21
D            4     60091  2011-04-08 20:08:14    2014-08-15
E            5     60091  2010-07-17 05:27:50    1984-07-28

In [56]:
customers['zip_code'].unique()

array([60091, 13244], dtype=int64)

In [57]:
customers['join_date'].unique()

array(['2011-04-17 10:48:33', '2012-04-15 23:31:04',
       '2011-08-13 15:42:34', '2011-04-08 20:08:14',
       '2010-07-17 05:27:50'], dtype=object)

In [58]:
customers['zip_code'] == 13244

A    False
B     True
C     True
D    False
E    False
Name: zip_code, dtype: bool

In [59]:
# Zone
customers[customers['zip_code'] == 13244]

   customer_id  zip_code            join_date date_of_birth
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2009-11-21

Entonces ya tenemos las series booleanas de las que hablábamos. Ahora, ¿cómo podemos usar esto para obtener la información de los clientes que cumplen estas características?

In [ ]:
# Filtrar por clientes adultos

In [ ]:
# Filtrar por registros recientes

In [ ]:
# Filtrar por zona

**¡Excelente!**

Los filtrados que acabamos de hacer fueron de una sola condición. Ahora, ¿cómo hacer filtrados con múltiples condiciones?

## 3.1 Filtrado con múltiples condiciones

Cuando queremos filtrar datos con múltiples condiciones, podemos usar operadores booleanos (`and`, `or`, `not`), solo con una pequeña modificación. Usamos:

- `&` en lugar de `and`,
- `|` en lugar de `or`, y
- `~` en lugar de `not`.

**Ejemplos**

Obtener la información de los clientes adultos que vivan en la zona con código postal 13244

In [62]:
(customers['zip_code'] == 13244) & (customers['date_of_birth'] <= '2007-09-05')

A    False
B     True
C    False
D    False
E    False
dtype: bool

In [63]:
customers[(customers['zip_code'] == 13244) & (customers['date_of_birth'] <= '2007-09-05') ]

   customer_id  zip_code            join_date date_of_birth
B            2     13244  2012-04-15 23:31:04    1986-08-18

Obtener la información de los clientes que sean adultos o que se hayan registrado luego del 6 de Junio del 2011

In [64]:
(customers['date_of_birth'] <= '2007-09-05') | (customers['join_date'] > '2011-06-01')

A     True
B     True
C     True
D    False
E     True
dtype: bool

In [65]:
customers[(customers['date_of_birth'] <= '2007-09-05') | (customers['join_date'] > '2011-06-01')]

   customer_id  zip_code            join_date date_of_birth
A            1     60091  2011-04-17 10:48:33    1994-07-18
B            2     13244  2012-04-15 23:31:04    1986-08-18
C            3     13244  2011-08-13 15:42:34    2009-11-21
E            5     60091  2010-07-17 05:27:50    1984-07-28

Obtener la información de los clientes que **NO** se hayan registrado en 2011

In [68]:
~((customers['join_date']>='2011-01-01') & (customers['join_date']<='2011-12-31'))

A    False
B     True
C    False
D    False
E     True
Name: join_date, dtype: bool

In [69]:
customers[~((customers['join_date']>='2011-01-01') & (customers['join_date']<='2011-12-31'))]

   customer_id  zip_code            join_date date_of_birth
B            2     13244  2012-04-15 23:31:04    1986-08-18
E            5     60091  2010-07-17 05:27:50    1984-07-28

De esta manera, podemos crear condiciones tan complejas y restrictivas como queramos para filtrar nuestros datos.

Útil, ¿no?